html {
    width: 100%;
    height: 100vh;
}

body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    background: linear-gradient(to left, rgb(0, 255, 0) , rgb(255, 0, 0)); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

.gradientcontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
    position: fixed;
    z-index: -100;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 10% 20% auto 20% 10%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "title title title title title"
                         ". gradients colors options ."
                         ". gradients title2 options ."
                         ". gradients .      options ."
                         ". gradients .      options .";
}

.title {
    grid-area: title;
}

.title2 {
    grid-area: title2;
}

.colors {
    grid-area: colors;
}

.color3, .color4, .color5, .color6, .color7 {
    display: none;
}

.gradients {
    grid-area: gradients;
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
    row-gap: 5vh;
}

img {
    width: 75px;
    opacity: 0.5;
    cursor: pointer;
}

img:hover, .active {
    opacity: 1;
}

.options {
    grid-area: options;
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
    row-gap: 5vh;
}

.angle {
    position: relative;
}

.anglepick {
    position: absolute;
    top: 0;
    right: 75px;
    display: none;
}

.anglepick input {
    font-size: 3.5rem;
    width: 125px;
}

.sectiondiv {
    width: 75px;
    height: 75px;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: "header" "main" "footer";
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

.header {
    grid-area: header;
    overflow: hidden;
}

.main {
    grid-area: main;
    overflow: hidden;
}

.footer {
    grid-area: footer;
    overflow: hidden;
}